/* body */
body {
  background: rgba(0, 0, 0, 0.9);
  font-family: Arial, Helvetica, sans-serif;
}

mat-paginator{
  color: #f9f9f9;
  background-color: #85bb65;
}

/* wrapper */
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 100px auto;
  padding: 0;
  background: #f9f9f9;
  color: #1e1f1b;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border-color: #85bb65;
}

/* lists */
.row ul {
  margin: 0;
  padding: 0;
}

.row ul li {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none;
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .row ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 479px) {
  .row ul li {
    font-size: 13px;
  }
}

.title ul li {
  padding: 15px 13px;
}

.row ul li {
  padding: 5px 10px;
}

/* rows */
.row {
  padding: 20px 0;
  height: 30px;
  font-size: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.row:hover {
  background-color: #A5CD8E;
  color: #f9f9f9;
  height: 65px;
}
@media only screen and (max-width: 767px) {
  .row:hover {
    height: 85px;
  }
}
@media only screen and (max-width: 359px) {
  .row:hover {
    height: 105px;
  }
}

.title {
  padding: 25px 0 5px 0;
  height: 45px;
  font-size: 0;
  color: #f9f9f9 !important;
  background-color: #85bb65;
  border-left: 3px solid #85bb65;
}

.title:hover {
  height: 45px;
  background-color: #5E9140;
  border-left: 3px solid #5E9140;
}

@media only screen and (max-width: 767px) {
  .title-hide {
    display: none;
  }
}

.transaction {
  border-left: 4px solid #85bb65;
}

.transaction:hover {
  border-left: 3px solid #497132;
}

/* more content */
ul.more-content li {
  position: relative;
  top: 22px;
  font-size: 13px;
  margin: 0;
  padding: 10px 13px;
  display: block;
  height: 50px;
  width: 100%;
  color: #f9f9f9;
}
@media only screen and (max-width: 767px) {
  ul.more-content li {
    font-size: 11px;
  }
}

/* small content */
.small {
  color: rgba(102, 102, 102, 0.9);
  font-size: 10px;
  padding: 0 10px;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .small {
    display: none;
  }
}

/* buttons */
button {
  margin: 1px;
  top: 15px;
  right: 15px;
  background-color: #85bb65;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #497132;
}



