.page-container {
  display: flex;
  flex-direction: row;
  width: 97%;
  gap: 20px;
  padding: 20px;
}

.transaction-list-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 20px;
  width: 60%;
}

.transaction-summary-container {
  display: flex;
  align-self: start;
  flex-direction: column;
  width: 40%;
}
