/* You can add global styles to this file, and also import other style files */
body{
  background-color: #D8E9CD;
  display: flex;
  flex-direction: column;
}

footer{
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0%;
  background-color: #497132;
  color:#f9f9f9;
  padding: 20px;
  left: 0%;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.123) inset;
  font-size: medium;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
